{
  "extends": ["airbnb"],
  "rules": {
    "linebreak-style": "off",
    "no-await-in-loop": "off",
    "no-param-reassign": 0,
    "global-require": "off",
    "no-continue": "off",
    "no-else-return": "off",
    "consistent-return": "off",
    "max-len": "off",
    "prefer-destructuring": "off",
    "arrow-body-style": "off",
    "prettier/prettier": "error"
  },
  "env": {
    "es6": true
  }
}
