{
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "all",
  "vue/max-attributes-per-line": [2, {
    "singleline": 20,
    "multiline": {
       "max": 1,
       "allowFirstLine": false
     }
  }],
  "arrowParens": true
}